@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #8b5cf6;
    --background: #e5e5e5;
    --foreground: #d4d4d4;
    --typeface-primary: #0a0a0a;
    --typeface-secondary: #262626;
    --typeface-tertiary: #525252;
  }
}